@import url(https://db.onlinewebfonts.com/c/a9407f8f4568bef930602728fa9b7f04?family=Antonio);


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family:'Antonio', Times, serif;
  font-weight: 100;
  font-style: normal;
  scroll-behavior: smooth;
  text-decoration: none;
}

body{
  background-color: #0e0f17;
}


.layout_heading{
  transition: all .2s linear;
}

.rhombus{
  cursor: pointer;
  transition: all .2s linear;
}

.layout_heading:hover{
    transform: translateX(10px);
}


.nav:hover .rhombus{
  transform: rotateZ(90deg);
}

.social a{
  transition: all .2s linear;
}

.social a:hover{
  transform: scale(1.1);
}

.name h1{
  animation-name: shift_h1 ;
  animation-duration: 2s;
}
.name h2{
  animation-name: shift_h2 ;
  animation-duration: 2s;
}
.name p{
  animation-name: shift_p ;
  animation-duration: 2s;
}


@keyframes shift_h1 {
  from {margin-left: -5rem}
  to {margin-left: 0rem}
}

@keyframes shift_h2 {
  from {margin-left: -15rem}
  to {margin-left: 0rem}
}

@keyframes shift_p {
  from {margin-left: -25rem}
  to {margin-left: 0rem}
}

.nav_heading{
  transition: all .2s linear;
}

.nav_heading:hover{
  color: #04ffd8;
  transform: scale(1.1);
}

.card {
  background-color: #282828;
  border-radius: 1rem;
  margin: 1rem;
  width: 25vw;
  height: 50vh;
  transition: transform .3s linear;
  -webkit-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -ms-transition: transform .3s linear;
  -o-transition: transform .3s linear;
}

.card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.founder_img {
  height: 13vw;
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.card-body h5 {
  font-size: 2rem;
}

.img {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  border-width: .1rem;
  border-color: #ff243d;
}

.img img{
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}


.back {
  text-align: left;
  margin-left: 4%;
  margin-top: 5%;
  width: 92%;
  height: 90%;
  display: none;
  transform: rotateY(180deg);
  font-size: 1.3rem;
  border-style: solid;
  border-color: white;
  border-width: .01rem;
  border-radius: .5rem;

}

.back p {
  padding: 10%;
}

.career_path{
  animation-name: shift;
  animation-duration: 2.5s;
}

@keyframes shift {
  from {opacity: 0;}
  to {opacity: 1;}
}

.circle{
  animation: circle 4s ;
}

@keyframes circle{
  from {stroke-dashoffset: 0;}
}